#app {
  // height: 100vh;
  height: 100%;
}

#sidebar {
  background-image: url('/public/imgs/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 100%;
  position: fixed;
  z-index: -2;
}

#content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  border: 1px solid red;
  padding: 10rem;
}

.cards,
.card-form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid blue;
  padding: 5rem;
}

.cards {
  flex-direction: column;
  gap: 4rem;
  .card-front {
    width: 40rem;
    margin-right: auto;
    z-index: -1;
  }
  .card-back {
    width: 40rem;
    margin-left: auto;
    z-index: -1;
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 704px) {
  #content {
    padding: 5rem;
  }

  .cards,
  .cards-form {
    padding: 0;
  }

  .cards {
    .card-front {
      width: 35rem;
      margin: 0 auto;
    }
    .card-back {
      width: 35rem;
      margin: 0 auto;
    }
  }
  img {
    width: 100%;
  }
}
